html, body{
    margin: 0px;
    padding: 0px;
}

#fullNav {
    height: 100px;
    display: flex;
    flex-wrap: nowrap;
    border: solid 5px black; 
    justify-content: space-around;
    
    
}

#leftLogo {
    border: 1px solid salmon;
    flex-grow: 1;
    
}

#leftLogo h1 {
    font-size: 20;
    border: 1px solid black;
    text-align: center;
}

#centerNav {
    border: 1px solid pink;
    flex-grow: 3;

}

#centerNav ul {
    
}

#centerNav ul li {
    list-style-type: none;
    
    
}

#rightNav {
    border: 1px solid salmon;
}

#rightNav ul {

}

#rightNav ul li {

}


.clearFix{
    clear: both;
}

.modelOptions {
    background-image: url("https://images.hgmsites.net/lrg/2018-tesla-model-s_100641506_l.jpg");
    height: 800px;
    width: 100%;
    opacity: .7;
    background-repeat: no-repeat;
    
    
}
.modelOptions h1 {
    text-align: center;
}

.modelOptions ul{
    text-align: center;
}

.modelOptions ul li {
   display: inline-block;
   padding-right: 5%;
}

.modelOptions p {
    text-align: center;
    padding-top: 0;
}

#fixMargin{
    margin: 0;
}